:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
}

.portfolio {
  width: 1200px;
  height: 768px;
  border: none;
  border-radius: 10px;
}

.portfolio-mobile {
  width: 375px;
  height: 765px;
  border: none;
  border-radius: 8px 8px 30px 30px;
